/* Testimonials Section styles */
.testimonials-section {
    text-align: center; /* Center the heading */
    margin-top: 50px; /* Add some space at the top */
    overflow: hidden; /* Hide the horizontal scrollbar */
  }
  
  .section-title {
    color: #333; /* Color for the heading */
    margin-bottom: 20px; /* Add space below the heading */
  }
  
  .testimonials-container {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping of cards */
    justify-content: center; /* Center the cards */
    padding: 0 20px; /* Add padding to the container */
    margin-bottom: -20px; /* Adjust margin to align buttons */
  }
  
  .testimonial-card {
    flex: 0 0 300px; /* Set fixed width for the cards */
    margin: 0 10px; /* Add margin between cards */
    background-color: #fff; /* Default background color */
    border-radius: 10px; /* Add border radius */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Add box shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition */
  }
  
  .testimonial-card:hover {
    background-color: #12c3c9; /* Background color on hover */
    transform: translateY(-5px); /* Floating effect on hover */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3); /* Shadow effect on hover */
  }
  
  .testimonial {
    padding: 20px; /* Add padding inside the card */
  }
  
  .testimonial h3 {
    position: relative; /* Make the container relative for absolute positioning */
    margin-bottom: 10px; /* Add space below the name */
  }
  
  .testimonial h3::before {
    content: "\f2c0"; /* Unicode for the user icon */
    font-family: "Font Awesome 5 Free"; /* Font Awesome library */
    font-weight: 900; /* Bold weight for the icon */
    position: absolute; /* Position the icon absolutely */
    top: -25px; /* Adjust vertical position */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
  }
  
  .testimonial p {
    color: #666; /* Color for the testimonial text */
  }
  
  /* Navigation buttons */
  .navigation-buttons {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .navigation-buttons button {
    background-color: #ddd;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .navigation-buttons button:hover {
    background-color: #ccc;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .testimonial-card {
      flex: 0 0 calc(50% - 20px); /* Display two cards in a row on smaller screens */
      margin: 0 10px; /* Adjust margin */
    }
  }
  
  @media screen and (max-width: 480px) {
    .testimonial-card {
      flex: 0 0 calc(100% - 20px); /* Display one card per row on even smaller screens */
      margin: 0 10px; /* Adjust margin */
    }
  }
  