/* Testimonials Section */
.testimonials-section {
  padding: 50px 0;
  text-align: center;
}

/* Testimonials Container */
.testimonials-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Testimonial Card */
.testimonial-card {
  width: 100%; /* Full width on mobile */
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

@media (min-width: 768px) {
  .testimonial-card {
    width: calc(15% - 10px); /* Set width to display three cards per row on tablets and larger screens */
    margin: 0 10px 20px;
  }
}

.testimonial-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.testimonial {
  padding: 20px;
  background-color: #ffffff;
}

.testimonial h3 {
  margin-bottom: 10px;
  color: #333333;
}

.testimonial p {
  color: #666666;
}

/* Navigation buttons */
.navigation-buttons {
  margin-top: 20px;
  text-align: center;
}

.prev-button,
.next-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.prev-button:hover,
.next-button:hover {
  background-color: #0056b3;
}
